<!-- Datalist Layout -->

<article class="page-width page-centre article-height">

	<%- page.content %>

	<% for (var item in site.data.activities) { %>
			
		<h4 class="session-title"><%- site.data.activities[item].title %></h3>
		
		<span class="session-time">Time: <%- site.data.activities[item].minduration %>
		<% if (site.data.activities[item].minduration-site.data.activities[item].maxduration != 0) { %>
			to <%- site.data.activities[item].maxduration %>
		<% } %>
		minutes</span>
		
		<p class="session-description"><%- site.data.activities[item].description %></p>

	<% } %>

</article>